# **DATA PLOTTING & DESCRIPTIVE STATISTICS**

### **1) REQUIREMENTS SETUP**

In [12]:
# !pip install -r requirements.txt

In [13]:
import warnings
warnings.filterwarnings("ignore")
import os
import pandas as pd
import numpy as np

### **2) MODULES IMPORT**

In [14]:
from overtime_plotting_module import plot_overtime

### **3) DESCRIPTIVE STATISTICS**

In [24]:
# Country-specific test variables decsriptive statistics for each country 
# We fetch the dataframe and delete missing values in oder to avoid collision in computational processes
country_specific_test_df = pd.read_csv("../data_fetcher/aggregate_df/country_specific_test_df.csv").dropna()

# List of EU countries matched in the dataframe
countries = country_specific_test_df["Country"].unique()

# We create a summary of descriptive statistics for each table 
for country in countries:
    print(f"{country}")
    country_df = country_specific_test_df[country_specific_test_df["Country"] == country]
    display(country_df.describe(include="all"))

AT

,Country,Time,GDP (Million USD),"HICP (%, annual rate of change)",Unemployment Rate (%pop in LF)
count,342,342,342.000000,342.000000,342.000000
unique,1,342,NaN,NaN,NaN
top,AT,1997-01,NaN,NaN,NaN
freq,342,1,NaN,NaN,NaN
mean,NaN,NaN,30001.611772,2.294444,5.239766
std,NaN,NaN,6636.128209,1.936075,0.930202
min,NaN,NaN,13290.574695,-0.400000,3.000000
25%,NaN,NaN,26877.001931,1.300000,4.600000
50%,NaN,NaN,31541.046092,1.850000,5.300000
75%,NaN,NaN,34415.594963,2.475000,5.800000
max,NaN,NaN,42765.049230,11.600000,8.400000

BE

,Country,Time,GDP (Million USD),"HICP (%, annual rate of change)",Unemployment Rate (%pop in LF)
count,342,342,342.000000,342.000000,342.000000
unique,1,342,NaN,NaN,NaN
top,BE,1997-01,NaN,NaN,NaN
freq,342,1,NaN,NaN,NaN
mean,NaN,NaN,37325.316579,2.296199,7.389766
std,NaN,NaN,10013.400436,2.063227,1.252439
min,NaN,NaN,21965.220033,-1.700000,4.800000
25%,NaN,NaN,32065.334546,1.200000,6.225000
50%,NaN,NaN,35534.851524,1.900000,7.600000
75%,NaN,NaN,38935.225428,2.875000,8.400000
max,NaN,NaN,68628.012900,13.100000,9.900000

BG

,Country,Time,GDP (Million USD),"HICP (%, annual rate of change)",Unemployment Rate (%pop in LF)
count,306,306,306.000000,306.000000,306.000000
unique,1,306,NaN,NaN,NaN
top,BG,2000-01,NaN,NaN,NaN
freq,306,1,NaN,NaN,NaN
mean,NaN,NaN,4645.712449,4.279739,9.651634
std,NaN,NaN,3068.156182,4.198850,4.481797
min,NaN,NaN,1348.082571,-2.500000,3.400000
25%,NaN,NaN,2533.218388,1.500000,5.800000
50%,NaN,NaN,3796.770308,3.200000,8.950000
75%,NaN,NaN,5550.986743,6.800000,12.875000
max,NaN,NaN,14259.351442,15.600000,20.700000

CY

,Country,Time,GDP (Million USD),"HICP (%, annual rate of change)",Unemployment Rate (%pop in LF)
count,306,306,306.000000,306.000000,306.000000
unique,1,306,NaN,NaN,NaN
top,CY,2000-01,NaN,NaN,NaN
freq,306,1,NaN,NaN,NaN
mean,NaN,NaN,1990.965470,2.008170,7.480065
std,NaN,NaN,833.615951,2.309971,3.968502
min,NaN,NaN,902.414639,-2.900000,2.900000
25%,NaN,NaN,1383.336185,0.500000,4.500000
50%,NaN,NaN,1695.379888,2.000000,6.050000
75%,NaN,NaN,2434.589126,3.200000,9.050000
max,NaN,NaN,4047.362197,10.600000,18.000000

CZ

,Country,Time,GDP (Million USD),"HICP (%, annual rate of change)",Unemployment Rate (%pop in LF)
count,342,342,342.000000,342.000000,342.000000
unique,1,342,NaN,NaN,NaN
top,CZ,1997-01,NaN,NaN,NaN
freq,342,1,NaN,NaN,NaN
mean,NaN,NaN,16254.693613,3.495029,5.492105
std,NaN,NaN,8416.409328,3.721981,2.278105
min,NaN,NaN,4664.000124,-0.800000,1.700000
25%,NaN,NaN,8996.223518,1.400000,2.925000
50%,NaN,NaN,14152.634836,2.400000,6.000000
75%,NaN,NaN,23622.094842,3.900000,7.400000
max,NaN,NaN,34083.503178,19.100000,9.600000

DE

,Country,Time,GDP (Million USD),"HICP (%, annual rate of change)",Unemployment Rate (%pop in LF)
count,225,225,225.000000,225.000000,225.000000
unique,1,225,NaN,NaN,NaN
top,DE,2007-01,NaN,NaN,NaN
freq,225,1,NaN,NaN,NaN
mean,NaN,NaN,328109.016536,2.239111,4.680889
std,NaN,NaN,36060.289673,2.195466,1.682881
min,NaN,NaN,258316.888296,-0.700000,2.800000
25%,NaN,NaN,299430.135467,1.100000,3.300000
50%,NaN,NaN,323053.034850,1.900000,4.100000
75%,NaN,NaN,350560.592400,2.600000,5.500000
max,NaN,NaN,406493.279750,11.600000,9.600000

DK

,Country,Time,GDP (Million USD),"HICP (%, annual rate of change)",Unemployment Rate (%pop in LF)
count,342,342,342.000000,342.000000,342.000000
unique,1,342,NaN,NaN,NaN
top,DK,1997-01,NaN,NaN,NaN
freq,342,1,NaN,NaN,NaN
mean,NaN,NaN,24596.838560,1.849415,5.533333
std,NaN,NaN,5687.639999,1.761793,1.261126
min,NaN,NaN,10869.687782,-0.400000,3.100000
25%,NaN,NaN,22574.686321,0.700000,4.600000
50%,NaN,NaN,25827.888347,1.650000,5.400000
75%,NaN,NaN,28200.693162,2.400000,6.400000
max,NaN,NaN,37734.840523,11.400000,8.900000

EA20

,Country,Time,GDP (Million USD),"HICP (%, annual rate of change)",Unemployment Rate (%pop in LF)
count,295,295,2.950000e+02,295.000000,295.000000
unique,1,295,NaN,NaN,NaN
top,EA20,2000-12,NaN,NaN,NaN
freq,295,1,NaN,NaN,NaN
mean,NaN,NaN,1.031972e+06,2.163051,8.944746
std,NaN,NaN,2.968051e+05,1.844543,1.653845
min,NaN,NaN,7.279183e+05,-0.600000,6.100000
25%,NaN,NaN,8.462306e+05,1.200000,7.600000
50%,NaN,NaN,9.103316e+05,2.000000,8.800000
75%,NaN,NaN,1.066422e+06,2.500000,10.000000
max,NaN,NaN,1.995555e+06,10.600000,12.900000

EE

,Country,Time,GDP (Million USD),"HICP (%, annual rate of change)",Unemployment Rate (%pop in LF)
count,305,305,305.000000,305.000000,305.000000
unique,1,305,NaN,NaN,NaN
top,EE,2000-02,NaN,NaN,NaN
freq,305,1,NaN,NaN,NaN
mean,NaN,NaN,2059.139536,4.257049,8.489508
std,NaN,NaN,1217.903120,4.405270,3.387286
min,NaN,NaN,577.730558,-2.100000,3.900000
25%,NaN,NaN,1218.060696,1.800000,5.900000
50%,NaN,NaN,1522.443950,3.800000,7.500000
75%,NaN,NaN,3005.548889,4.900000,10.600000
max,NaN,NaN,4877.001665,25.200000,19.500000

EL

,Country,Time,GDP (Million USD),"HICP (%, annual rate of change)",Unemployment Rate (%pop in LF)
count,327,327,327.000000,327.000000,327.000000
unique,1,327,NaN,NaN,NaN
top,EL,1998-04,NaN,NaN,NaN
freq,327,1,NaN,NaN,NaN
mean,NaN,NaN,18468.827971,2.319878,14.943425
std,NaN,NaN,3274.254501,2.448401,6.282360
min,NaN,NaN,10662.057077,-2.900000,6.800000
25%,NaN,NaN,16636.192779,0.600000,10.100000
50%,NaN,NaN,18380.766672,2.800000,11.900000
75%,NaN,NaN,20753.438476,3.650000,19.950000
max,NaN,NaN,26010.655840,12.100000,29.300000

ES

,Country,Time,GDP (Million USD),"HICP (%, annual rate of change)",Unemployment Rate (%pop in LF)
count,345,345,345.000000,345.000000,345.000000
unique,1,345,NaN,NaN,NaN
top,ES,1997-01,NaN,NaN,NaN
freq,345,1,NaN,NaN,NaN
mean,NaN,NaN,102368.028607,2.339130,15.297681
std,NaN,NaN,31708.085407,1.926002,5.058891
min,NaN,NaN,46590.929369,-1.500000,7.800000
25%,NaN,NaN,72802.125587,1.300000,11.300000
50%,NaN,NaN,110177.518278,2.400000,14.100000
75%,NaN,NaN,127969.372978,3.300000,18.800000
max,NaN,NaN,164263.981800,10.700000,27.100000

EU27_2020

,Country,Time,GDP (Million USD),"HICP (%, annual rate of change)",Unemployment Rate (%pop in LF)
count,295,295,2.950000e+02,295.000000,295.000000
unique,1,295,NaN,NaN,NaN
top,EU27_2020,2000-12,NaN,NaN,NaN
freq,295,1,NaN,NaN,NaN
mean,NaN,NaN,1.209682e+06,2.441356,8.677288
std,NaN,NaN,2.798999e+05,2.039621,1.719949
min,NaN,NaN,5.841200e+05,-0.600000,5.700000
25%,NaN,NaN,1.092635e+06,1.350000,7.200000
50%,NaN,NaN,1.258456e+06,2.200000,9.100000
75%,NaN,NaN,1.379559e+06,2.800000,9.900000
max,NaN,NaN,1.723311e+06,11.500000,12.300000

FI

,Country,Time,GDP (Million USD),"HICP (%, annual rate of change)",Unemployment Rate (%pop in LF)
count,342,342,342.000000,342.000000,342.000000
unique,1,342,NaN,NaN,NaN
top,FI,1997-01,NaN,NaN,NaN
freq,342,1,NaN,NaN,NaN
mean,NaN,NaN,18912.597045,1.860526,8.531579
std,NaN,NaN,3911.495858,1.614594,1.733911
min,NaN,NaN,10361.155489,-0.700000,5.200000
25%,NaN,NaN,16965.163289,0.900000,7.200000
50%,NaN,NaN,18593.438417,1.400000,8.300000
75%,NaN,NaN,19969.087485,2.500000,9.500000
max,NaN,NaN,31015.887457,9.100000,15.400000

FR

,Country,Time,GDP (Million USD),"HICP (%, annual rate of change)",Unemployment Rate (%pop in LF)
count,273,273,273.000000,273.000000,273.000000
unique,1,273,NaN,NaN,NaN
top,FR,2003-01,NaN,NaN,NaN
freq,273,1,NaN,NaN,NaN
mean,NaN,NaN,222030.251320,1.901465,8.763736
std,NaN,NaN,31524.510476,1.544939,1.084603
min,NaN,NaN,122517.624448,-0.800000,6.500000
25%,NaN,NaN,206149.018155,0.900000,7.800000
50%,NaN,NaN,228106.458372,1.700000,8.800000
75%,NaN,NaN,243812.793708,2.400000,9.600000
max,NaN,NaN,273759.108559,7.300000,11.000000

HR

,Country,Time,GDP (Million USD),"HICP (%, annual rate of change)",Unemployment Rate (%pop in LF)
count,306,306,306.000000,306.000000,306.000000
unique,1,306,NaN,NaN,NaN
top,HR,2000-01,NaN,NaN,NaN
freq,306,1,NaN,NaN,NaN
mean,NaN,NaN,4644.218985,2.858824,11.519281
std,NaN,NaN,1183.077498,2.704399,3.972147
min,NaN,NaN,1865.719578,-1.500000,4.000000
25%,NaN,NaN,3965.365510,1.200000,7.700000
50%,NaN,NaN,4636.906511,2.200000,11.800000
75%,NaN,NaN,5244.166780,4.000000,14.800000
max,NaN,NaN,7801.588636,13.000000,19.500000

HU

,Country,Time,GDP (Million USD),"HICP (%, annual rate of change)",Unemployment Rate (%pop in LF)
count,263,263,263.000000,263.000000,263.000000
unique,1,263,NaN,NaN,NaN
top,HU,1997-01,NaN,NaN,NaN
freq,263,1,NaN,NaN,NaN
mean,NaN,NaN,8938.758366,5.738783,7.353232
std,NaN,NaN,2358.257400,4.549090,2.111378
min,NaN,NaN,4012.568776,-1.400000,3.200000
25%,NaN,NaN,7860.603640,2.750000,5.800000
50%,NaN,NaN,9537.893815,4.800000,7.300000
75%,NaN,NaN,10468.321332,7.450000,9.000000
max,NaN,NaN,14765.424377,19.100000,11.700000

In [25]:
# European Industrial production index decsriptive statistics for each country 
# We fetch the dataframe and delete missing values in oder to avoid collision in computational processes
EURO_indprod_dependent_df = pd.read_csv("../data_fetcher/aggregate_df/EURO_indprod_dependent_df.csv").dropna()

# List of EU countries matched in the dataframe
countries = EURO_indprod_dependent_df["Country"].unique()

# We create a summary of descriptive statistics for each table 
for country in countries:
    print(f"{country}")
    country_df = EURO_indprod_dependent_df[EURO_indprod_dependent_df["Country"] == country]
    display(country_df.describe(include="all"))

AT

       Country Level 1 Index     Time  Indprod Index Value (I21)
count     1068          1068     1068                1068.000000
unique       1             3      356                        NaN
top         AT             B  1996-01                        NaN
freq      1068           356        3                        NaN
mean       NaN           NaN      NaN                  82.902154
std        NaN           NaN      NaN                  24.082380
min        NaN           NaN      NaN                  31.900000
25%        NaN           NaN      NaN                  65.150000
50%        NaN           NaN      NaN                  83.400000
75%        NaN           NaN      NaN                 100.950000
max        NaN           NaN      NaN                 168.100000

BE

       Country Level 1 Index     Time  Indprod Index Value (I21)
count      924           924      924                 924.000000
unique       1             3      308                        NaN
top         BE             B  2000-01                        NaN
freq       924           308        3                        NaN
mean       NaN           NaN      NaN                  80.301515
std        NaN           NaN      NaN                  15.566534
min        NaN           NaN      NaN                  41.100000
25%        NaN           NaN      NaN                  70.500000
50%        NaN           NaN      NaN                  80.200000
75%        NaN           NaN      NaN                  91.525000
max        NaN           NaN      NaN                 128.600000

BG

       Country Level 1 Index     Time  Indprod Index Value (I21)
count      924           924      924                 924.000000
unique       1             3      308                        NaN
top         BG             B  2000-01                        NaN
freq       924           308        3                        NaN
mean       NaN           NaN      NaN                  93.763528
std        NaN           NaN      NaN                  20.004053
min        NaN           NaN      NaN                  37.100000
25%        NaN           NaN      NaN                  81.250000
50%        NaN           NaN      NaN                  93.500000
75%        NaN           NaN      NaN                 105.500000
max        NaN           NaN      NaN                 163.600000

CY

       Country Level 1 Index     Time  Indprod Index Value (I21)
count      924           924      924                 924.000000
unique       1             3      308                        NaN
top         CY             B  2000-01                        NaN
freq       924           308        3                        NaN
mean       NaN           NaN      NaN                  98.963961
std        NaN           NaN      NaN                  25.401917
min        NaN           NaN      NaN                  23.000000
25%        NaN           NaN      NaN                  81.800000
50%        NaN           NaN      NaN                  98.500000
75%        NaN           NaN      NaN                 112.500000
max        NaN           NaN      NaN                 188.500000

CZ

       Country Level 1 Index     Time  Indprod Index Value (I21)
count      924           924      924                 924.000000
unique       1             3      308                        NaN
top         CZ             B  2000-01                        NaN
freq       924           308        3                        NaN
mean       NaN           NaN      NaN                 107.793398
std        NaN           NaN      NaN                  37.806968
min        NaN           NaN      NaN                  36.100000
25%        NaN           NaN      NaN                  81.575000
50%        NaN           NaN      NaN                  99.050000
75%        NaN           NaN      NaN                 124.925000
max        NaN           NaN      NaN                 238.700000

DE

       Country Level 1 Index     Time  Indprod Index Value (I21)
count     1248          1248     1248                1248.000000
unique       1             3      416                        NaN
top         DE             B  1991-01                        NaN
freq      1248           416        3                        NaN
mean       NaN           NaN      NaN                 129.360897
std        NaN           NaN      NaN                  63.409740
min        NaN           NaN      NaN                  60.600000
25%        NaN           NaN      NaN                  91.800000
50%        NaN           NaN      NaN                 105.800000
75%        NaN           NaN      NaN                 130.100000
max        NaN           NaN      NaN                 375.200000

DK

       Country Level 1 Index     Time  Indprod Index Value (I21)
count      924           924      924                 924.000000
unique       1             3      308                        NaN
top         DK             B  2000-01                        NaN
freq       924           308        3                        NaN
mean       NaN           NaN      NaN                 158.548377
std        NaN           NaN      NaN                 117.360981
min        NaN           NaN      NaN                  54.200000
25%        NaN           NaN      NaN                  83.975000
50%        NaN           NaN      NaN                 106.650000
75%        NaN           NaN      NaN                 164.150000
max        NaN           NaN      NaN                 521.900000

EE

       Country Level 1 Index     Time  Indprod Index Value (I21)
count      972           972      972                 972.000000
unique       1             3      332                        NaN
top         EE             B  2011-11                        NaN
freq       972           332        3                        NaN
mean       NaN           NaN      NaN                  77.164198
std        NaN           NaN      NaN                  26.225421
min        NaN           NaN      NaN                  22.300000
25%        NaN           NaN      NaN                  58.775000
50%        NaN           NaN      NaN                  75.200000
75%        NaN           NaN      NaN                  93.000000
max        NaN           NaN      NaN                 193.000000

EL

       Country Level 1 Index     Time  Indprod Index Value (I21)
count      924           924      924                 924.000000
unique       1             3      308                        NaN
top         EL             B  2000-01                        NaN
freq       924           308        3                        NaN
mean       NaN           NaN      NaN                 111.845455
std        NaN           NaN      NaN                  27.840749
min        NaN           NaN      NaN                  62.100000
25%        NaN           NaN      NaN                  92.500000
50%        NaN           NaN      NaN                 107.300000
75%        NaN           NaN      NaN                 122.300000
max        NaN           NaN      NaN                 209.200000

ES

       Country Level 1 Index     Time  Indprod Index Value (I21)
count     1824          1824     1824                1824.000000
unique       1             3      608                        NaN
top         ES             B  1975-01                        NaN
freq      1824           608        3                        NaN
mean       NaN           NaN      NaN                 170.380044
std        NaN           NaN      NaN                 156.424151
min        NaN           NaN      NaN                  28.800000
25%        NaN           NaN      NaN                  86.875000
50%        NaN           NaN      NaN                 104.650000
75%        NaN           NaN      NaN                 139.075000
max        NaN           NaN      NaN                 924.200000

FI

       Country Level 1 Index     Time  Indprod Index Value (I21)
count     1104          1104     1104                1104.000000
unique       1             3      368                        NaN
top         FI             B  1995-01                        NaN
freq      1104           368        3                        NaN
mean       NaN           NaN      NaN                  95.287772
std        NaN           NaN      NaN                  31.225107
min        NaN           NaN      NaN                  33.200000
25%        NaN           NaN      NaN                  78.675000
50%        NaN           NaN      NaN                  92.850000
75%        NaN           NaN      NaN                 105.925000
max        NaN           NaN      NaN                 337.100000

FR

       Country Level 1 Index     Time  Indprod Index Value (I21)
count     1284          1284     1284                1284.000000
unique       1             3      428                        NaN
top         FR             B  1990-01                        NaN
freq      1284           428        3                        NaN
mean       NaN           NaN      NaN                 103.315187
std        NaN           NaN      NaN                  18.818674
min        NaN           NaN      NaN                  49.300000
25%        NaN           NaN      NaN                  90.000000
50%        NaN           NaN      NaN                 103.200000
75%        NaN           NaN      NaN                 115.425000
max        NaN           NaN      NaN                 159.000000

HR

       Country Level 1 Index     Time  Indprod Index Value (I21)
count      999           999      999                 999.000000
unique       1             3      333                        NaN
top         HR             B  1998-01                        NaN
freq       999           333        3                        NaN
mean       NaN           NaN      NaN                 110.450350
std        NaN           NaN      NaN                  44.287309
min        NaN           NaN      NaN                  46.400000
25%        NaN           NaN      NaN                  81.650000
50%        NaN           NaN      NaN                  96.100000
75%        NaN           NaN      NaN                 119.550000
max        NaN           NaN      NaN                 247.800000

HU

       Country Level 1 Index     Time  Indprod Index Value (I21)
count      924           924      924                 924.000000
unique       1             3      308                        NaN
top         HU             B  2000-01                        NaN
freq       924           308        3                        NaN
mean       NaN           NaN      NaN                  84.961364
std        NaN           NaN      NaN                  21.280016
min        NaN           NaN      NaN                  31.000000
25%        NaN           NaN      NaN                  71.400000
50%        NaN           NaN      NaN                  84.050000
75%        NaN           NaN      NaN                  99.000000
max        NaN           NaN      NaN                 172.400000

IE

       Country Level 1 Index     Time  Indprod Index Value (I21)
count      232           232      232                 232.000000
unique       1             2      116                        NaN
top         IE             C  2016-01                        NaN
freq       232           116        2                        NaN
mean       NaN           NaN      NaN                 107.704741
std        NaN           NaN      NaN                  41.164817
min        NaN           NaN      NaN                  43.700000
25%        NaN           NaN      NaN                  77.875000
50%        NaN           NaN      NaN                 102.500000
75%        NaN           NaN      NaN                 130.700000
max        NaN           NaN      NaN                 269.400000

IT

       Country Level 1 Index     Time  Indprod Index Value (I21)
count     1284          1284     1284                1284.000000
unique       1             3      428                        NaN
top         IT             B  1990-01                        NaN
freq      1284           428        3                        NaN
mean       NaN           NaN      NaN                 120.072664
std        NaN           NaN      NaN                  36.066265
min        NaN           NaN      NaN                  41.700000
25%        NaN           NaN      NaN                  96.300000
50%        NaN           NaN      NaN                 110.150000
75%        NaN           NaN      NaN                 134.200000
max        NaN           NaN      NaN                 227.700000

LT

       Country Level 1 Index     Time  Indprod Index Value (I21)
count      996           996      996                 996.000000
unique       1             3      332                        NaN
top         LT             B  1998-01                        NaN
freq       996           332        3                        NaN
mean       NaN           NaN      NaN                  85.348193
std        NaN           NaN      NaN                  33.423586
min        NaN           NaN      NaN                  23.500000
25%        NaN           NaN      NaN                  60.575000
50%        NaN           NaN      NaN                  82.000000
75%        NaN           NaN      NaN                 106.200000
max        NaN           NaN      NaN                 220.500000

LU

       Country Level 1 Index     Time  Indprod Index Value (I21)
count      924           924      924                  924.00000
unique       1             3      308                        NaN
top         LU             B  2000-01                        NaN
freq       924           308        3                        NaN
mean       NaN           NaN      NaN                  137.79816
std        NaN           NaN      NaN                   76.70728
min        NaN           NaN      NaN                   22.50000
25%        NaN           NaN      NaN                   97.47500
50%        NaN           NaN      NaN                  111.20000
75%        NaN           NaN      NaN                  138.95000
max        NaN           NaN      NaN                  493.50000

LV

       Country Level 1 Index     Time  Indprod Index Value (I21)
count      924           924      924                 924.000000
unique       1             3      308                        NaN
top         LV             B  2000-01                        NaN
freq       924           308        3                        NaN
mean       NaN           NaN      NaN                  80.855195
std        NaN           NaN      NaN                  28.627455
min        NaN           NaN      NaN                  18.100000
25%        NaN           NaN      NaN                  61.700000
50%        NaN           NaN      NaN                  75.200000
75%        NaN           NaN      NaN                  99.275000
max        NaN           NaN      NaN                 175.500000

MT

       Country Level 1 Index     Time  Indprod Index Value (I21)
count      924           924      924                 924.000000
unique       1             3      308                        NaN
top         MT             B  2000-01                        NaN
freq       924           308        3                        NaN
mean       NaN           NaN      NaN                 102.890152
std        NaN           NaN      NaN                  27.412454
min        NaN           NaN      NaN                  23.200000
25%        NaN           NaN      NaN                  89.900000
50%        NaN           NaN      NaN                 101.400000
75%        NaN           NaN      NaN                 112.025000
max        NaN           NaN      NaN                 369.700000

NL

       Country Level 1 Index     Time  Indprod Index Value (I21)
count      900           900      900                 900.000000
unique       1             3      308                        NaN
top         NL             B  2000-01                        NaN
freq       900           308        3                        NaN
mean       NaN           NaN      NaN                 150.914333
std        NaN           NaN      NaN                 110.640837
min        NaN           NaN      NaN                  46.900000
25%        NaN           NaN      NaN                  85.275000
50%        NaN           NaN      NaN                  97.700000
75%        NaN           NaN      NaN                 156.500000
max        NaN           NaN      NaN                 564.600000

PL

       Country Level 1 Index     Time  Indprod Index Value (I21)
count      927           927      927                 927.000000
unique       1             3      309                        NaN
top         PL             B  2000-01                        NaN
freq       927           309        3                        NaN
mean       NaN           NaN      NaN                  91.637864
std        NaN           NaN      NaN                  31.667646
min        NaN           NaN      NaN                  25.000000
25%        NaN           NaN      NaN                  69.400000
50%        NaN           NaN      NaN                  90.500000
75%        NaN           NaN      NaN                 113.100000
max        NaN           NaN      NaN                 173.100000

PT

       Country Level 1 Index     Time  Indprod Index Value (I21)
count      927           927      927                 927.000000
unique       1             3      309                        NaN
top         PT             B  2000-01                        NaN
freq       927           309        3                        NaN
mean       NaN           NaN      NaN                 121.050485
std        NaN           NaN      NaN                  39.303633
min        NaN           NaN      NaN                  69.300000
25%        NaN           NaN      NaN                  97.150000
50%        NaN           NaN      NaN                 108.800000
75%        NaN           NaN      NaN                 129.350000
max        NaN           NaN      NaN                 290.200000

RO

       Country Level 1 Index     Time  Indprod Index Value (I21)
count      924           924      924                 924.000000
unique       1             3      308                        NaN
top         RO             B  2000-01                        NaN
freq       924           308        3                        NaN
mean       NaN           NaN      NaN                  96.844156
std        NaN           NaN      NaN                  27.339507
min        NaN           NaN      NaN                  39.700000
25%        NaN           NaN      NaN                  78.600000
50%        NaN           NaN      NaN                  94.200000
75%        NaN           NaN      NaN                 112.725000
max        NaN           NaN      NaN                 165.400000

SE

       Country Level 1 Index     Time  Indprod Index Value (I21)
count      924           924      924                 924.000000
unique       1             3      308                        NaN
top         SE             B  2000-01                        NaN
freq       924           308        3                        NaN
mean       NaN           NaN      NaN                  89.937879
std        NaN           NaN      NaN                  16.469548
min        NaN           NaN      NaN                  44.700000
25%        NaN           NaN      NaN                  79.300000
50%        NaN           NaN      NaN                  91.900000
75%        NaN           NaN      NaN                 102.500000
max        NaN           NaN      NaN                 126.000000

SI

       Country Level 1 Index     Time  Indprod Index Value (I21)
count      996           996      996                 996.000000
unique       1             3      332                        NaN
top         SI             B  1998-01                        NaN
freq       996           332        3                        NaN
mean       NaN           NaN      NaN                  97.183835
std        NaN           NaN      NaN                  26.109800
min        NaN           NaN      NaN                  32.700000
25%        NaN           NaN      NaN                  75.875000
50%        NaN           NaN      NaN                 101.300000
75%        NaN           NaN      NaN                 116.325000
max        NaN           NaN      NaN                 178.600000

SK

       Country Level 1 Index     Time  Indprod Index Value (I21)
count      924           924      924                 924.000000
unique       1             3      308                        NaN
top         SK             B  2000-01                        NaN
freq       924           308        3                        NaN
mean       NaN           NaN      NaN                  87.450974
std        NaN           NaN      NaN                  28.496634
min        NaN           NaN      NaN                  24.700000
25%        NaN           NaN      NaN                  70.700000
50%        NaN           NaN      NaN                  86.700000
75%        NaN           NaN      NaN                 103.725000
max        NaN           NaN      NaN                 292.700000

In [27]:
# European Stok indeces decsriptive statistics for each country/index
# We fetch the dataframe and delete missing values in oder to avoid collision in computational processes
EURO_stock_dependent_df = pd.read_csv("../data_fetcher/aggregate_df/EURO_stock_dependent_df.csv").dropna()

# List of EU countries matched in the dataframe
countries = EURO_stock_dependent_df["Country"].unique()

# We create a summary of descriptive statistics for each table 
for country in countries:
    print(f"{country}")
    country_df = EURO_stock_dependent_df[EURO_stock_dependent_df["Country"] == country]
    display(country_df.describe(include="all"))

AT

       Country Stock Index     Time  Log Monthly Return        Volume
count      129         129      129          129.000000  1.290000e+02
unique       1           1      129                 NaN           NaN
top         AT        ^ATX  2015-02                 NaN           NaN
freq       129         129        1                 NaN           NaN
mean       NaN         NaN      NaN            0.006092  1.031164e+08
std        NaN         NaN      NaN            0.060048  4.276951e+07
min        NaN         NaN      NaN           -0.331159  4.837990e+07
25%        NaN         NaN      NaN           -0.025031  7.056790e+07
50%        NaN         NaN      NaN            0.013333  9.006050e+07
75%        NaN         NaN      NaN            0.037862  1.279568e+08
max        NaN         NaN      NaN            0.217318  2.450535e+08

BE

       Country Stock Index     Time  Log Monthly Return        Volume
count      129         129      129          129.000000  1.290000e+02
unique       1           1      129                 NaN           NaN
top         BE        ^BFX  2015-02                 NaN           NaN
freq       129         129        1                 NaN           NaN
mean       NaN         NaN      NaN            0.002545  2.005201e+08
std        NaN         NaN      NaN            0.043926  2.622190e+08
min        NaN         NaN      NaN           -0.184245  0.000000e+00
25%        NaN         NaN      NaN           -0.020123  8.179400e+06
50%        NaN         NaN      NaN            0.009341  7.253270e+07
75%        NaN         NaN      NaN            0.032943  4.217428e+08
max        NaN         NaN      NaN            0.186455  1.188458e+09

CZ

       Country Stock Index     Time  Log Monthly Return        Volume
count       81          81       81           81.000000  8.100000e+01
unique       1           1       81                 NaN           NaN
top         CZ         ^PX  2015-02                 NaN           NaN
freq        81          81        1                 NaN           NaN
mean       NaN         NaN      NaN            0.004078  4.330807e+07
std        NaN         NaN      NaN            0.046743  4.087515e+07
min        NaN         NaN      NaN           -0.212718  0.000000e+00
25%        NaN         NaN      NaN           -0.018549  0.000000e+00
50%        NaN         NaN      NaN            0.005155  3.895880e+07
75%        NaN         NaN      NaN            0.028037  5.416090e+07
max        NaN         NaN      NaN            0.136747  2.000620e+08

DK

       Country Stock Index     Time  Log Monthly Return        Volume
count      106         106      106          106.000000  1.060000e+02
unique       1           1      106                 NaN           NaN
top         DK     ^OMXC25  2017-01                 NaN           NaN
freq       106         106        1                 NaN           NaN
mean       NaN         NaN      NaN            0.004773  3.026282e+08
std        NaN         NaN      NaN            0.043564  7.687392e+07
min        NaN         NaN      NaN           -0.138369  0.000000e+00
25%        NaN         NaN      NaN           -0.018797  2.705095e+08
50%        NaN         NaN      NaN            0.008246  2.955656e+08
75%        NaN         NaN      NaN            0.033824  3.443281e+08
max        NaN         NaN      NaN            0.117278  6.287049e+08

FI

       Country Stock Index     Time  Log Monthly Return        Volume
count      129         129      129          129.000000  1.290000e+02
unique       1           1      129                 NaN           NaN
top         FI     ^OMXH25  2015-02                 NaN           NaN
freq       129         129        1                 NaN           NaN
mean       NaN         NaN      NaN            0.004026  1.858877e+08
std        NaN         NaN      NaN            0.042968  3.526195e+08
min        NaN         NaN      NaN           -0.174227  0.000000e+00
25%        NaN         NaN      NaN           -0.017357  0.000000e+00
50%        NaN         NaN      NaN            0.007734  2.678090e+07
75%        NaN         NaN      NaN            0.031168  1.011298e+08
max        NaN         NaN      NaN            0.117900  2.065847e+09

FR

       Country Stock Index     Time  Log Monthly Return        Volume
count      129         129      129          129.000000  1.290000e+02
unique       1           1      129                 NaN           NaN
top         FR       ^FCHI  2015-02                 NaN           NaN
freq       129         129        1                 NaN           NaN
mean       NaN         NaN      NaN            0.004399  1.789094e+09
std        NaN         NaN      NaN            0.046527  5.675480e+08
min        NaN         NaN      NaN           -0.188851  2.463741e+08
25%        NaN         NaN      NaN           -0.024448  1.448945e+09
50%        NaN         NaN      NaN            0.007465  1.711998e+09
75%        NaN         NaN      NaN            0.032031  1.968206e+09
max        NaN         NaN      NaN            0.183312  4.755486e+09

DE

       Country Stock Index     Time  Log Monthly Return        Volume
count      129         129      129          129.000000  1.290000e+02
unique       1           1      129                 NaN           NaN
top         DE      ^GDAXI  2015-02                 NaN           NaN
freq       129         129        1                 NaN           NaN
mean       NaN         NaN      NaN            0.006253  1.747232e+09
std        NaN         NaN      NaN            0.048844  4.722848e+08
min        NaN         NaN      NaN           -0.179579  1.019461e+09
25%        NaN         NaN      NaN           -0.021061  1.429150e+09
50%        NaN         NaN      NaN            0.008464  1.712733e+09
75%        NaN         NaN      NaN            0.034691  1.953358e+09
max        NaN         NaN      NaN            0.139853  4.826748e+09

IE

       Country Stock Index     Time  Log Monthly Return        Volume
count      129         129      129          129.000000  1.290000e+02
unique       1           1      129                 NaN           NaN
top         IE       ^ISEQ  2015-02                 NaN           NaN
freq       129         129        1                 NaN           NaN
mean       NaN         NaN      NaN            0.006009  8.316965e+08
std        NaN         NaN      NaN            0.051977  6.937766e+08
min        NaN         NaN      NaN           -0.216182  2.587754e+08
25%        NaN         NaN      NaN           -0.020433  4.154985e+08
50%        NaN         NaN      NaN            0.011936  5.160690e+08
75%        NaN         NaN      NaN            0.040896  9.708332e+08
max        NaN         NaN      NaN            0.111336  3.461381e+09

IT

       Country Stock Index     Time  Log Monthly Return        Volume
count      129         129      129          129.000000  1.290000e+02
unique       1           1      129                 NaN           NaN
top         IT  FTSEMIB.MI  2015-02                 NaN           NaN
freq       129         129        1                 NaN           NaN
mean       NaN         NaN      NaN            0.005773  1.045658e+10
std        NaN         NaN      NaN            0.056247  3.040173e+09
min        NaN         NaN      NaN           -0.254106  6.062556e+09
25%        NaN         NaN      NaN           -0.025586  8.483687e+09
50%        NaN         NaN      NaN            0.008481  9.495459e+09
75%        NaN         NaN      NaN            0.039285  1.196612e+10
max        NaN         NaN      NaN            0.206611  2.068217e+10

NL

       Country Stock Index     Time  Log Monthly Return        Volume
count      129         129      129          129.000000  1.290000e+02
unique       1           1      129                 NaN           NaN
top         NL        ^AEX  2015-02                 NaN           NaN
freq       129         129        1                 NaN           NaN
mean       NaN         NaN      NaN            0.005959  1.350627e+09
std        NaN         NaN      NaN            0.041023  8.601647e+08
min        NaN         NaN      NaN           -0.109493  1.589900e+06
25%        NaN         NaN      NaN           -0.018423  6.382827e+08
50%        NaN         NaN      NaN            0.007145  1.431413e+09
75%        NaN         NaN      NaN            0.035429  1.946028e+09
max        NaN         NaN      NaN            0.126742  4.965797e+09

ES

       Country Stock Index     Time  Log Monthly Return        Volume
count      129         129      129          129.000000  1.290000e+02
unique       1           1      129                 NaN           NaN
top         ES       ^IBEX  2015-02                 NaN           NaN
freq       129         129        1                 NaN           NaN
mean       NaN         NaN      NaN            0.003353  4.136270e+09
std        NaN         NaN      NaN            0.052302  1.440317e+09
min        NaN         NaN      NaN           -0.251213  1.894190e+09
25%        NaN         NaN      NaN           -0.020084  3.127846e+09
50%        NaN         NaN      NaN            0.005043  3.728201e+09
75%        NaN         NaN      NaN            0.034101  5.111866e+09
max        NaN         NaN      NaN            0.224587  8.461280e+09

In [28]:
# USEU spot exchange rate decsriptive statistics for Euro-adopting country
# (!!!) We dont display display descriptive statistics for other European domestic currencies
# We fetch the dataframe and delete missing values in oder to avoid collision in computational processes
EXUSEU_dependent_df = pd.read_csv("../data_fetcher/aggregate_df/EXUSEU_dependent_df.csv").dropna()

# List of EU countries matched in the dataframe
countries = EXUSEU_dependent_df["Country"].unique()

# We create a summary of descriptive statistics for each table 
for country in countries:
    print(f"{country}")
    country_df = EXUSEU_dependent_df[EXUSEU_dependent_df["Country"] == country]
    display(country_df.describe(include="all"))

AT

       Country     Time  USD-EUR Spot Exchange Rate
count      322      322                  322.000000
unique       1      322                         NaN
top         AT  1999-01                         NaN
freq       322        1                         NaN
mean       NaN      NaN                    1.182507
std        NaN      NaN                    0.153405
min        NaN      NaN                    0.852538
25%        NaN      NaN                    1.082661
50%        NaN      NaN                    1.168188
75%        NaN      NaN                    1.299615
max        NaN      NaN                    1.575864

BE

       Country     Time  USD-EUR Spot Exchange Rate
count      322      322                  322.000000
unique       1      322                         NaN
top         BE  1999-01                         NaN
freq       322        1                         NaN
mean       NaN      NaN                    1.182507
std        NaN      NaN                    0.153405
min        NaN      NaN                    0.852538
25%        NaN      NaN                    1.082661
50%        NaN      NaN                    1.168188
75%        NaN      NaN                    1.299615
max        NaN      NaN                    1.575864

CY

       Country     Time  USD-EUR Spot Exchange Rate
count      322      322                  322.000000
unique       1      322                         NaN
top         CY  1999-01                         NaN
freq       322        1                         NaN
mean       NaN      NaN                    1.182507
std        NaN      NaN                    0.153405
min        NaN      NaN                    0.852538
25%        NaN      NaN                    1.082661
50%        NaN      NaN                    1.168188
75%        NaN      NaN                    1.299615
max        NaN      NaN                    1.575864

DE

       Country     Time  USD-EUR Spot Exchange Rate
count      322      322                  322.000000
unique       1      322                         NaN
top         DE  1999-01                         NaN
freq       322        1                         NaN
mean       NaN      NaN                    1.182507
std        NaN      NaN                    0.153405
min        NaN      NaN                    0.852538
25%        NaN      NaN                    1.082661
50%        NaN      NaN                    1.168188
75%        NaN      NaN                    1.299615
max        NaN      NaN                    1.575864

EE

       Country     Time  USD-EUR Spot Exchange Rate
count      322      322                  322.000000
unique       1      322                         NaN
top         EE  1999-01                         NaN
freq       322        1                         NaN
mean       NaN      NaN                    1.182507
std        NaN      NaN                    0.153405
min        NaN      NaN                    0.852538
25%        NaN      NaN                    1.082661
50%        NaN      NaN                    1.168188
75%        NaN      NaN                    1.299615
max        NaN      NaN                    1.575864

EL

       Country     Time  USD-EUR Spot Exchange Rate
count      322      322                  322.000000
unique       1      322                         NaN
top         EL  1999-01                         NaN
freq       322        1                         NaN
mean       NaN      NaN                    1.182507
std        NaN      NaN                    0.153405
min        NaN      NaN                    0.852538
25%        NaN      NaN                    1.082661
50%        NaN      NaN                    1.168188
75%        NaN      NaN                    1.299615
max        NaN      NaN                    1.575864

ES

       Country     Time  USD-EUR Spot Exchange Rate
count      322      322                  322.000000
unique       1      322                         NaN
top         ES  1999-01                         NaN
freq       322        1                         NaN
mean       NaN      NaN                    1.182507
std        NaN      NaN                    0.153405
min        NaN      NaN                    0.852538
25%        NaN      NaN                    1.082661
50%        NaN      NaN                    1.168188
75%        NaN      NaN                    1.299615
max        NaN      NaN                    1.575864

FI

       Country     Time  USD-EUR Spot Exchange Rate
count      322      322                  322.000000
unique       1      322                         NaN
top         FI  1999-01                         NaN
freq       322        1                         NaN
mean       NaN      NaN                    1.182507
std        NaN      NaN                    0.153405
min        NaN      NaN                    0.852538
25%        NaN      NaN                    1.082661
50%        NaN      NaN                    1.168188
75%        NaN      NaN                    1.299615
max        NaN      NaN                    1.575864

FR

       Country     Time  USD-EUR Spot Exchange Rate
count      322      322                  322.000000
unique       1      322                         NaN
top         FR  1999-01                         NaN
freq       322        1                         NaN
mean       NaN      NaN                    1.182507
std        NaN      NaN                    0.153405
min        NaN      NaN                    0.852538
25%        NaN      NaN                    1.082661
50%        NaN      NaN                    1.168188
75%        NaN      NaN                    1.299615
max        NaN      NaN                    1.575864

HR

       Country     Time  USD-EUR Spot Exchange Rate
count      322      322                  322.000000
unique       1      322                         NaN
top         HR  1999-01                         NaN
freq       322        1                         NaN
mean       NaN      NaN                    1.182507
std        NaN      NaN                    0.153405
min        NaN      NaN                    0.852538
25%        NaN      NaN                    1.082661
50%        NaN      NaN                    1.168188
75%        NaN      NaN                    1.299615
max        NaN      NaN                    1.575864

IE

       Country     Time  USD-EUR Spot Exchange Rate
count      322      322                  322.000000
unique       1      322                         NaN
top         IE  1999-01                         NaN
freq       322        1                         NaN
mean       NaN      NaN                    1.182507
std        NaN      NaN                    0.153405
min        NaN      NaN                    0.852538
25%        NaN      NaN                    1.082661
50%        NaN      NaN                    1.168188
75%        NaN      NaN                    1.299615
max        NaN      NaN                    1.575864

IT

       Country     Time  USD-EUR Spot Exchange Rate
count      322      322                  322.000000
unique       1      322                         NaN
top         IT  1999-01                         NaN
freq       322        1                         NaN
mean       NaN      NaN                    1.182507
std        NaN      NaN                    0.153405
min        NaN      NaN                    0.852538
25%        NaN      NaN                    1.082661
50%        NaN      NaN                    1.168188
75%        NaN      NaN                    1.299615
max        NaN      NaN                    1.575864

LT

       Country     Time  USD-EUR Spot Exchange Rate
count      322      322                  322.000000
unique       1      322                         NaN
top         LT  1999-01                         NaN
freq       322        1                         NaN
mean       NaN      NaN                    1.182507
std        NaN      NaN                    0.153405
min        NaN      NaN                    0.852538
25%        NaN      NaN                    1.082661
50%        NaN      NaN                    1.168188
75%        NaN      NaN                    1.299615
max        NaN      NaN                    1.575864

LU

       Country     Time  USD-EUR Spot Exchange Rate
count      322      322                  322.000000
unique       1      322                         NaN
top         LU  1999-01                         NaN
freq       322        1                         NaN
mean       NaN      NaN                    1.182507
std        NaN      NaN                    0.153405
min        NaN      NaN                    0.852538
25%        NaN      NaN                    1.082661
50%        NaN      NaN                    1.168188
75%        NaN      NaN                    1.299615
max        NaN      NaN                    1.575864

LV

       Country     Time  USD-EUR Spot Exchange Rate
count      322      322                  322.000000
unique       1      322                         NaN
top         LV  1999-01                         NaN
freq       322        1                         NaN
mean       NaN      NaN                    1.182507
std        NaN      NaN                    0.153405
min        NaN      NaN                    0.852538
25%        NaN      NaN                    1.082661
50%        NaN      NaN                    1.168188
75%        NaN      NaN                    1.299615
max        NaN      NaN                    1.575864

MT

       Country     Time  USD-EUR Spot Exchange Rate
count      322      322                  322.000000
unique       1      322                         NaN
top         MT  1999-01                         NaN
freq       322        1                         NaN
mean       NaN      NaN                    1.182507
std        NaN      NaN                    0.153405
min        NaN      NaN                    0.852538
25%        NaN      NaN                    1.082661
50%        NaN      NaN                    1.168188
75%        NaN      NaN                    1.299615
max        NaN      NaN                    1.575864

NL

       Country     Time  USD-EUR Spot Exchange Rate
count      322      322                  322.000000
unique       1      322                         NaN
top         NL  1999-01                         NaN
freq       322        1                         NaN
mean       NaN      NaN                    1.182507
std        NaN      NaN                    0.153405
min        NaN      NaN                    0.852538
25%        NaN      NaN                    1.082661
50%        NaN      NaN                    1.168188
75%        NaN      NaN                    1.299615
max        NaN      NaN                    1.575864

PT

       Country     Time  USD-EUR Spot Exchange Rate
count      322      322                  322.000000
unique       1      322                         NaN
top         PT  1999-01                         NaN
freq       322        1                         NaN
mean       NaN      NaN                    1.182507
std        NaN      NaN                    0.153405
min        NaN      NaN                    0.852538
25%        NaN      NaN                    1.082661
50%        NaN      NaN                    1.168188
75%        NaN      NaN                    1.299615
max        NaN      NaN                    1.575864

SI

       Country     Time  USD-EUR Spot Exchange Rate
count      322      322                  322.000000
unique       1      322                         NaN
top         SI  1999-01                         NaN
freq       322        1                         NaN
mean       NaN      NaN                    1.182507
std        NaN      NaN                    0.153405
min        NaN      NaN                    0.852538
25%        NaN      NaN                    1.082661
50%        NaN      NaN                    1.168188
75%        NaN      NaN                    1.299615
max        NaN      NaN                    1.575864

SK

       Country     Time  USD-EUR Spot Exchange Rate
count      322      322                  322.000000
unique       1      322                         NaN
top         SK  1999-01                         NaN
freq       322        1                         NaN
mean       NaN      NaN                    1.182507
std        NaN      NaN                    0.153405
min        NaN      NaN                    0.852538
25%        NaN      NaN                    1.082661
50%        NaN      NaN                    1.168188
75%        NaN      NaN                    1.299615
max        NaN      NaN                    1.575864

In [30]:
# Global control variables decsriptive statistics
# (!!!) No country dimension, but global scale
# We fetch the dataframe and delete missing values in oder to avoid collision in computational processes
global_control_df = pd.read_csv("../data_fetcher/aggregate_df/global_control_df.csv").dropna()

global_control_df.describe()

,"Crude Oil Price (Brent, Europe)",Nominal Broad USD Index,CBOE Volatility Index (VIX),Market Yield on 10-Year US Trasury Securities
count,237.000000,237.000000,237.000000,237.000000
mean,77.013249,105.913386,19.465975,2.892303
std,23.739653,12.329723,8.332042,1.118566
min,18.380000,86.317800,10.125455,0.623636
25%,60.210000,93.670000,14.003182,1.984211
50%,74.250000,108.356700,17.416190,2.737273
75%,94.990000,116.120400,22.374091,3.746842
max,132.720000,129.041300,62.668947,5.110000

In [32]:
# Trade openness decsriptive statistics per country
# We fetch the dataframe and delete missing values in oder to avoid collision in computational processes
trade_openness_annual_regime_df = pd.read_csv("../data_fetcher/aggregate_df/trade_openness_annual_regime_df.csv").dropna()

# List of EU countries matched in the dataframe
countries = trade_openness_annual_regime_df["Country"].unique()

# We create a summary of descriptive statistics for each table 
for country in countries:
    print(f"{country}")
    country_df = trade_openness_annual_regime_df[trade_openness_annual_regime_df["Country"] == country]
    display(country_df.describe(include="all"))

AT

,Country,Year,GDP (Million USD),GDP_USD,Exports_USD,Imports_USD,Trade_Openness_pct_GDP,Openness_Lag1
count,5,5.000000,5.000000,5.000000e+00,5.000000e+00,5.000000e+00,5.000000,5.000000
unique,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,AT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,NaN,2023.000000,406889.541626,1.356298e+11,3.542148e+08,1.529310e+10,11.321842,11.245314
std,NaN,1.581139,97684.806834,3.256160e+10,7.202797e+07,4.963380e+09,1.737653,1.864729
min,NaN,2021.000000,233865.199033,7.795507e+10,2.804808e+08,6.799522e+09,9.082159,8.699522
25%,NaN,2022.000000,435823.662115,1.452746e+11,3.198157e+08,1.513628e+10,10.115358,10.115358
50%,NaN,2023.000000,438083.979467,1.460280e+11,3.338463e+08,1.757329e+10,11.625415,11.625415
75%,NaN,2024.000000,458394.889803,1.527983e+11,3.662118e+08,1.781265e+10,12.356539,12.356539
max,NaN,2025.000000,468279.977715,1.560933e+11,4.707194e+08,1.914378e+10,13.429736,13.429736

BE

,Country,Year,GDP (Million USD),GDP_USD,Exports_USD,Imports_USD,Trade_Openness_pct_GDP,Openness_Lag1
count,5,5.000000,5.000000,5.000000e+00,5.000000e+00,5.000000e+00,5.000000,5.000000
unique,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,BE,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,NaN,2023.000000,598117.084185,1.993724e+11,4.814055e+09,2.207482e+10,13.537840,14.963443
std,NaN,1.581139,172659.978685,5.755333e+10,1.693093e+09,6.338348e+09,2.469564,2.598054
min,NaN,2021.000000,379972.706466,1.266576e+11,2.021093e+09,1.174574e+10,10.869331,11.820588
25%,NaN,2022.000000,469081.704888,1.563606e+11,4.475274e+09,2.146988e+10,11.820588,12.770390
50%,NaN,2023.000000,618400.050799,2.061334e+11,5.623722e+09,2.276481e+10,12.770390,15.635736
75%,NaN,2024.000000,737413.669991,2.458046e+11,5.659452e+09,2.660675e+10,15.635736,16.593154
max,NaN,2025.000000,785717.288781,2.619058e+11,6.290736e+09,2.778694e+10,16.593154,17.997349

BG

,Country,Year,GDP (Million USD),GDP_USD,Exports_USD,Imports_USD,Trade_Openness_pct_GDP,Openness_Lag1
count,5,5.000000,5.000000,5.000000e+00,5.000000e+00,5.000000e+00,5.000000,5.000000
unique,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,BG,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,NaN,2023.000000,111218.418800,3.707281e+10,5.953369e+07,1.265425e+09,3.544532,3.697153
std,NaN,1.581139,30988.854476,1.032962e+10,3.076444e+07,4.023331e+08,0.666209,0.433960
min,NaN,2021.000000,73558.148288,2.451938e+10,2.258231e+07,6.074737e+08,2.569624,3.319944
25%,NaN,2022.000000,86937.805863,2.897927e+10,3.308706e+07,1.152101e+09,3.319944,3.332733
50%,NaN,2023.000000,112728.814370,3.757627e+10,6.636284e+07,1.489084e+09,3.508929,3.508929
75%,NaN,2024.000000,139822.911381,4.660764e+10,8.172234e+07,1.509401e+09,4.089778,4.089778
max,NaN,2025.000000,143044.414098,4.768147e+10,9.391392e+07,1.569066e+09,4.234382,4.234382

CY

,Country,Year,GDP (Million USD),GDP_USD,Exports_USD,Imports_USD,Trade_Openness_pct_GDP,Openness_Lag1
count,5,5.000000,5.000000,5.000000e+00,5.000000e+00,5.000000e+00,5.000000,5.000000
unique,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,CY,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,NaN,2023.000000,37673.840246,1.255795e+10,2.655282e+07,5.781516e+07,0.666926,0.671511
std,NaN,1.581139,8898.379908,2.966127e+09,2.814945e+07,1.263897e+07,0.132665,0.131046
min,NaN,2021.000000,23218.344947,7.739448e+09,8.366330e+06,3.965760e+07,0.497269,0.497269
25%,NaN,2022.000000,36251.128593,1.208371e+10,1.361486e+07,5.253045e+07,0.620508,0.643437
50%,NaN,2023.000000,39163.063939,1.305435e+10,1.567422e+07,5.869729e+07,0.654585,0.654585
75%,NaN,2024.000000,44867.933272,1.495598e+10,1.864974e+07,6.548334e+07,0.699819,0.699819
max,NaN,2025.000000,44868.730479,1.495624e+10,7.645897e+07,7.270712e+07,0.862445,0.862445

CZ

,Country,Year,GDP (Million USD),GDP_USD,Exports_USD,Imports_USD,Trade_Openness_pct_GDP,Openness_Lag1
count,5,5.000000,5.000000,5.000000e+00,5.000000e+00,5.000000e+00,5.000000,5.000000
unique,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,CZ,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,NaN,2023.000000,321003.016264,1.070010e+11,1.016923e+09,6.581404e+09,7.082660,7.104143
std,NaN,1.581139,84313.200598,2.810440e+10,3.797885e+08,1.821968e+09,0.412399,0.396649
min,NaN,2021.000000,175489.508707,5.849650e+10,4.609277e+08,3.518255e+09,6.629683,6.629683
25%,NaN,2022.000000,324618.456545,1.082062e+11,1.002134e+09,6.353653e+09,6.802429,6.909844
50%,NaN,2023.000000,355906.172098,1.186354e+11,1.031966e+09,7.470362e+09,7.018638,7.018638
75%,NaN,2024.000000,362142.780739,1.207143e+11,1.057139e+09,7.492017e+09,7.288032,7.288032
max,NaN,2025.000000,386858.163230,1.289527e+11,1.532446e+09,8.072731e+09,7.674520,7.674520

DE

,Country,Year,GDP (Million USD),GDP_USD,Exports_USD,Imports_USD,Trade_Openness_pct_GDP,Openness_Lag1
count,5,5.000000,5.000000e+00,5.000000e+00,5.000000e+00,5.000000e+00,5.000000,5.000000
unique,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,DE,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,NaN,2023.000000,4.309297e+06,1.436432e+12,9.138222e+09,1.338577e+11,9.797300,10.477195
std,NaN,1.581139,4.375040e+05,1.458347e+11,1.831737e+09,3.802880e+10,2.052050,0.736485
min,NaN,2021.000000,3.552802e+06,1.184267e+12,5.900917e+09,6.846203e+10,6.279236,9.678714
25%,NaN,2022.000000,4.395743e+06,1.465248e+12,9.638248e+09,1.346526e+11,9.856270,9.856270
50%,NaN,2023.000000,4.421897e+06,1.473966e+12,9.766182e+09,1.466078e+11,10.480912,10.480912
75%,NaN,2024.000000,4.493607e+06,1.497869e+12,1.000324e+10,1.591862e+11,10.916321,10.916321
max,NaN,2025.000000,4.682436e+06,1.560812e+12,1.038252e+10,1.603800e+11,11.453759,11.453759

DK

,Country,Year,GDP (Million USD),GDP_USD,Exports_USD,Imports_USD,Trade_Openness_pct_GDP,Openness_Lag1
count,5,5.000000,5.000000,5.000000e+00,5.000000e+00,5.000000e+00,5.000000,5.000000
unique,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,DK,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,NaN,2023.000000,338515.164718,1.128384e+11,4.210026e+08,1.037234e+10,9.515687,9.805768
std,NaN,1.581139,94382.134460,3.146071e+10,1.981034e+08,3.116028e+09,0.375048,0.495958
min,NaN,2021.000000,177377.583519,5.912586e+10,2.344652e+08,5.134602e+09,9.080743,9.305919
25%,NaN,2022.000000,347404.946489,1.158016e+11,3.096746e+08,1.003596e+10,9.305919,9.410253
50%,NaN,2023.000000,371588.379600,1.238628e+11,3.489301e+08,1.161518e+10,9.410253,9.754760
75%,NaN,2024.000000,371716.167156,1.239054e+11,4.714947e+08,1.210975e+10,9.754760,10.026758
max,NaN,2025.000000,424488.746827,1.414962e+11,7.404486e+08,1.296623e+10,10.026758,10.531150

EA19

,Country,Year,GDP (Million USD),GDP_USD,Exports_USD,Imports_USD,Trade_Openness_pct_GDP,Openness_Lag1
count,5,5.000000,5.000000e+00,5.000000e+00,5.0,5.0,5.0,5.0
unique,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,EA19,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,NaN,2023.000000,1.410785e+07,4.702617e+12,0.0,0.0,0.0,0.0
std,NaN,1.581139,4.006278e+06,1.335426e+12,0.0,0.0,0.0,0.0
min,NaN,2021.000000,9.539728e+06,3.179909e+12,0.0,0.0,0.0,0.0
25%,NaN,2022.000000,1.110582e+07,3.701941e+12,0.0,0.0,0.0,0.0
50%,NaN,2023.000000,1.364264e+07,4.547548e+12,0.0,0.0,0.0,0.0
75%,NaN,2024.000000,1.717129e+07,5.723762e+12,0.0,0.0,0.0,0.0
max,NaN,2025.000000,1.907978e+07,6.359926e+12,0.0,0.0,0.0,0.0

EA20

,Country,Year,GDP (Million USD),GDP_USD,Exports_USD,Imports_USD,Trade_Openness_pct_GDP,Openness_Lag1
count,5,5.000000,5.000000e+00,5.000000e+00,5.0,5.0,5.0,5.0
unique,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,EA20,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,NaN,2023.000000,1.713866e+07,5.712886e+12,0.0,0.0,0.0,0.0
std,NaN,1.581139,4.633027e+06,1.544342e+12,0.0,0.0,0.0,0.0
min,NaN,2021.000000,1.025096e+07,3.416987e+12,0.0,0.0,0.0,0.0
25%,NaN,2022.000000,1.584195e+07,5.280648e+12,0.0,0.0,0.0,0.0
50%,NaN,2023.000000,1.714008e+07,5.713360e+12,0.0,0.0,0.0,0.0
75%,NaN,2024.000000,1.995396e+07,6.651321e+12,0.0,0.0,0.0,0.0
max,NaN,2025.000000,2.250634e+07,7.502112e+12,0.0,0.0,0.0,0.0

EE

,Country,Year,GDP (Million USD),GDP_USD,Exports_USD,Imports_USD,Trade_Openness_pct_GDP,Openness_Lag1
count,5,5.000000,5.000000,5.000000e+00,5.000000e+00,5.000000e+00,5.000000,5.000000
unique,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,EE,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,NaN,2023.000000,44805.128468,1.493504e+10,7.898061e+07,1.114821e+09,8.011176,8.538721
std,NaN,1.581139,11318.996599,3.772999e+09,3.989608e+07,5.628331e+08,3.902759,3.674985
min,NaN,2021.000000,25948.414776,8.649472e+09,3.990992e+07,4.485579e+08,4.707310,4.707310
25%,NaN,2022.000000,42660.909574,1.422030e+10,5.556730e+07,7.743644e+08,5.647372,6.534350
50%,NaN,2023.000000,49935.250173,1.664508e+10,7.480588e+07,1.065178e+09,6.534350,8.285099
75%,NaN,2024.000000,52588.971412,1.752966e+10,8.027120e+07,1.371993e+09,8.692048,8.692048
max,NaN,2025.000000,52892.096403,1.763070e+10,1.443488e+08,1.914011e+09,14.474798,14.474798

EL

,Country,Year,GDP (Million USD),GDP_USD,Exports_USD,Imports_USD,Trade_Openness_pct_GDP,Openness_Lag1
count,5,5.000000,5.000000,5.000000e+00,5.0,5.0,5.0,5.0
unique,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,EL,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,NaN,2023.000000,239065.066662,7.968836e+10,0.0,0.0,0.0,0.0
std,NaN,1.581139,62794.683571,2.093156e+10,0.0,0.0,0.0,0.0
min,NaN,2021.000000,131492.559632,4.383085e+10,0.0,0.0,0.0,0.0
25%,NaN,2022.000000,238038.012897,7.934600e+10,0.0,0.0,0.0,0.0
50%,NaN,2023.000000,262240.759734,8.741359e+10,0.0,0.0,0.0,0.0
75%,NaN,2024.000000,279125.709029,9.304190e+10,0.0,0.0,0.0,0.0
max,NaN,2025.000000,284428.292017,9.480943e+10,0.0,0.0,0.0,0.0

ES

,Country,Year,GDP (Million USD),GDP_USD,Exports_USD,Imports_USD,Trade_Openness_pct_GDP,Openness_Lag1
count,5,5.000000,5.000000e+00,5.000000e+00,5.000000e+00,5.000000e+00,5.000000,5.000000
unique,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,ES,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,NaN,2023.000000,1.571192e+06,5.237306e+11,2.962621e+09,1.908570e+10,4.164908,4.398299
std,NaN,1.581139,2.032949e+05,6.776498e+10,1.488194e+09,5.655332e+09,0.893703,0.412487
min,NaN,2021.000000,1.370870e+06,4.569567e+11,1.340404e+09,9.516509e+09,2.620861,3.787815
25%,NaN,2022.000000,1.380819e+06,4.602728e+11,2.446957e+09,1.856590e+10,4.356277,4.356277
50%,NaN,2023.000000,1.542324e+06,5.141079e+11,2.546602e+09,2.125051e+10,4.435352,4.435352
75%,NaN,2024.000000,1.774105e+06,5.913682e+11,3.115488e+09,2.298182e+10,4.465856,4.465856
max,NaN,2025.000000,1.787843e+06,5.959476e+11,5.363652e+09,2.311377e+10,4.946194,4.946194

EU27_2020

,Country,Year,GDP (Million USD),GDP_USD,Exports_USD,Imports_USD,Trade_Openness_pct_GDP,Openness_Lag1
count,5,5.000000,5.000000e+00,5.000000e+00,5.0,5.0,5.0,5.0
unique,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,EU27_2020,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,NaN,2023.000000,1.673206e+07,5.577354e+12,0.0,0.0,0.0,0.0
std,NaN,1.581139,3.968546e+06,1.322849e+12,0.0,0.0,0.0,0.0
min,NaN,2021.000000,9.900921e+06,3.300307e+12,0.0,0.0,0.0,0.0
25%,NaN,2022.000000,1.667791e+07,5.559303e+12,0.0,0.0,0.0,0.0
50%,NaN,2023.000000,1.843482e+07,6.144941e+12,0.0,0.0,0.0,0.0
75%,NaN,2024.000000,1.929835e+07,6.432782e+12,0.0,0.0,0.0,0.0
max,NaN,2025.000000,1.934832e+07,6.449439e+12,0.0,0.0,0.0,0.0

FI

,Country,Year,GDP (Million USD),GDP_USD,Exports_USD,Imports_USD,Trade_Openness_pct_GDP,Openness_Lag1
count,5,5.000000,5.000000,5.000000e+00,5.000000e+00,5.000000e+00,5.000000,5.000000
unique,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,FI,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,NaN,2023.000000,271732.714993,9.057757e+10,1.760859e+08,6.853422e+09,7.737109,7.963399
std,NaN,1.581139,76447.209624,2.548240e+10,6.520614e+07,2.117081e+09,1.435895,1.192844
min,NaN,2021.000000,164235.097002,5.474503e+10,6.656991e+07,3.303069e+09,6.155151,6.906051
25%,NaN,2022.000000,227525.675189,7.584189e+10,1.779453e+08,6.763923e+09,6.906051,7.106053
50%,NaN,2023.000000,285939.912580,9.531330e+10,1.851743e+08,7.369613e+09,7.106053,7.286601
75%,NaN,2024.000000,330183.800942,1.100613e+11,2.194667e+08,8.123675e+09,9.153079,9.153079
max,NaN,2025.000000,350779.089250,1.169264e+11,2.312734e+08,8.706828e+09,9.365213,9.365213

FR

,Country,Year,GDP (Million USD),GDP_USD,Exports_USD,Imports_USD,Trade_Openness_pct_GDP,Openness_Lag1
count,5,5.000000,5.000000e+00,5.000000e+00,5.000000e+00,5.000000e+00,5.000000,5.000000
unique,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,FR,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,NaN,2023.000000,2.898611e+06,9.662036e+11,5.514470e+09,5.078978e+10,5.750191,6.033930
std,NaN,1.581139,3.064532e+05,1.021511e+11,1.583485e+09,1.261192e+10,0.992855,0.470519
min,NaN,2021.000000,2.373274e+06,7.910912e+11,3.293958e+09,2.918145e+10,4.105141,5.523838
25%,NaN,2022.000000,2.948294e+06,9.827645e+11,4.509041e+09,5.014221e+10,5.552583,5.552583
50%,NaN,2023.000000,2.952747e+06,9.842490e+11,5.950912e+09,5.722938e+10,6.199756,6.199756
75%,NaN,2024.000000,3.057231e+06,1.019077e+12,6.850045e+09,5.761253e+10,6.334164,6.334164
max,NaN,2025.000000,3.161509e+06,1.053836e+12,6.968394e+09,5.978333e+10,6.559310,6.559310

HR

,Country,Year,GDP (Million USD),GDP_USD,Exports_USD,Imports_USD,Trade_Openness_pct_GDP,Openness_Lag1
count,5,5.000000,5.000000,5.000000e+00,5.000000e+00,5.000000e+00,5.000000,5.000000
unique,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,HR,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,NaN,2023.000000,66822.989458,2.227433e+10,2.529843e+07,8.019805e+08,3.704138,3.677342
std,NaN,1.581139,17523.344184,5.841115e+09,1.816943e+07,2.178897e+08,0.338161,0.364669
min,NaN,2021.000000,37851.522588,1.261717e+10,7.601490e+06,4.314283e+08,3.441849,3.345640
25%,NaN,2022.000000,62667.300377,2.088910e+10,1.729222e+07,8.175973e+08,3.451280,3.441849
50%,NaN,2023.000000,76498.657688,2.549955e+10,1.744889e+07,8.603639e+08,3.479620,3.451280
75%,NaN,2024.000000,77313.818852,2.577127e+10,2.945087e+07,9.004036e+08,4.054977,4.054977
max,NaN,2025.000000,79783.647783,2.659455e+10,5.469866e+07,1.000110e+09,4.092962,4.092962

HU

,Country,Year,GDP (Million USD),GDP_USD,Exports_USD,Imports_USD,Trade_Openness_pct_GDP,Openness_Lag1
count,5,5.000000,5.0,5.0,5.000000e+00,5.000000e+00,5.0,5.0
unique,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,HU,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,NaN,2023.000000,0.0,0.0,1.074343e+09,8.742457e+09,inf,inf
std,NaN,1.581139,0.0,0.0,2.955912e+08,2.946584e+09,NaN,NaN
min,NaN,2021.000000,0.0,0.0,5.842681e+08,5.448754e+09,inf,inf
25%,NaN,2022.000000,0.0,0.0,1.073856e+09,7.052509e+09,NaN,NaN
50%,NaN,2023.000000,0.0,0.0,1.098581e+09,7.696948e+09,NaN,NaN
75%,NaN,2024.000000,0.0,0.0,1.305602e+09,1.081987e+10,NaN,NaN
max,NaN,2025.000000,0.0,0.0,1.309407e+09,1.269420e+10,inf,inf

IE

,Country,Year,GDP (Million USD),GDP_USD,Exports_USD,Imports_USD,Trade_Openness_pct_GDP,Openness_Lag1
count,5,5.000000,5.0,5.0,5.000000e+00,5.000000e+00,5.0,5.0
unique,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,IE,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,NaN,2023.000000,0.0,0.0,1.686022e+09,8.522600e+10,inf,inf
std,NaN,1.581139,0.0,0.0,6.531742e+08,1.085206e+10,NaN,NaN
min,NaN,2021.000000,0.0,0.0,7.755232e+08,7.387693e+10,inf,inf
25%,NaN,2022.000000,0.0,0.0,1.292474e+09,8.242425e+10,NaN,NaN
50%,NaN,2023.000000,0.0,0.0,1.904501e+09,8.263792e+10,NaN,NaN
75%,NaN,2024.000000,0.0,0.0,2.021809e+09,8.390977e+10,NaN,NaN
max,NaN,2025.000000,0.0,0.0,2.435803e+09,1.032811e+11,inf,inf

IT

,Country,Year,GDP (Million USD),GDP_USD,Exports_USD,Imports_USD,Trade_Openness_pct_GDP,Openness_Lag1
count,5,5.000000,5.0,5.0,5.000000e+00,5.000000e+00,5.0,5.0
unique,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,IT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,NaN,2023.000000,0.0,0.0,2.964203e+09,6.233655e+10,inf,inf
std,NaN,1.581139,0.0,0.0,7.018437e+08,1.763660e+10,NaN,NaN
min,NaN,2021.000000,0.0,0.0,1.721487e+09,3.248747e+10,inf,inf
25%,NaN,2022.000000,0.0,0.0,3.157481e+09,6.098246e+10,NaN,NaN
50%,NaN,2023.000000,0.0,0.0,3.198927e+09,6.901860e+10,NaN,NaN
75%,NaN,2024.000000,0.0,0.0,3.342721e+09,7.284992e+10,NaN,NaN
max,NaN,2025.000000,0.0,0.0,3.400399e+09,7.634427e+10,inf,inf

LT

,Country,Year,GDP (Million USD),GDP_USD,Exports_USD,Imports_USD,Trade_Openness_pct_GDP,Openness_Lag1
count,5,5.000000,5.0,5.0,5.000000e+00,5.000000e+00,5.0,5.0
unique,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,LT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,NaN,2023.000000,0.0,0.0,1.376110e+08,1.938408e+09,inf,inf
std,NaN,1.581139,0.0,0.0,6.425791e+07,6.122733e+08,NaN,NaN
min,NaN,2021.000000,0.0,0.0,6.384323e+07,9.211669e+08,inf,inf
25%,NaN,2022.000000,0.0,0.0,8.773179e+07,2.029345e+09,NaN,NaN
50%,NaN,2023.000000,0.0,0.0,1.318280e+08,2.061766e+09,NaN,NaN
75%,NaN,2024.000000,0.0,0.0,1.929129e+08,2.096068e+09,NaN,NaN
max,NaN,2025.000000,0.0,0.0,2.117389e+08,2.583692e+09,inf,inf

LU

,Country,Year,GDP (Million USD),GDP_USD,Exports_USD,Imports_USD,Trade_Openness_pct_GDP,Openness_Lag1
count,5,5.000000,5.0,5.0,5.000000e+00,5.000000e+00,5.0,5.0
unique,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,LU,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,NaN,2023.000000,0.0,0.0,2.122200e+08,6.388613e+08,inf,inf
std,NaN,1.581139,0.0,0.0,1.036128e+08,1.034765e+08,NaN,NaN
min,NaN,2021.000000,0.0,0.0,1.166483e+08,4.794814e+08,inf,inf
25%,NaN,2022.000000,0.0,0.0,1.452671e+08,5.923117e+08,NaN,NaN
50%,NaN,2023.000000,0.0,0.0,1.610326e+08,6.897933e+08,NaN,NaN
75%,NaN,2024.000000,0.0,0.0,2.750916e+08,6.982694e+08,NaN,NaN
max,NaN,2025.000000,0.0,0.0,3.630603e+08,7.344506e+08,inf,inf

LV

,Country,Year,GDP (Million USD),GDP_USD,Exports_USD,Imports_USD,Trade_Openness_pct_GDP,Openness_Lag1
count,5,5.000000,5.0,5.0,5.000000e+00,5.000000e+00,5.0,5.0
unique,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,LV,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,NaN,2023.000000,0.0,0.0,1.644696e+08,5.900033e+08,inf,inf
std,NaN,1.581139,0.0,0.0,1.813293e+08,1.882009e+08,NaN,NaN
min,NaN,2021.000000,0.0,0.0,1.576009e+07,2.659326e+08,inf,inf
25%,NaN,2022.000000,0.0,0.0,7.317777e+07,6.195239e+08,NaN,NaN
50%,NaN,2023.000000,0.0,0.0,1.011324e+08,6.308067e+08,NaN,NaN
75%,NaN,2024.000000,0.0,0.0,1.563676e+08,6.858409e+08,NaN,NaN
max,NaN,2025.000000,0.0,0.0,4.759103e+08,7.479124e+08,inf,inf

MT

,Country,Year,GDP (Million USD),GDP_USD,Exports_USD,Imports_USD,Trade_Openness_pct_GDP,Openness_Lag1
count,5,5.000000,5.0,5.0,5.000000e+00,5.000000e+00,5.0,5.0
unique,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,MT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,NaN,2023.000000,0.0,0.0,1.061122e+08,2.218424e+08,inf,inf
std,NaN,1.581139,0.0,0.0,9.591553e+07,4.033332e+07,NaN,NaN
min,NaN,2021.000000,0.0,0.0,7.440330e+06,1.556252e+08,inf,inf
25%,NaN,2022.000000,0.0,0.0,1.487094e+07,2.202845e+08,NaN,NaN
50%,NaN,2023.000000,0.0,0.0,1.057026e+08,2.254005e+08,NaN,NaN
75%,NaN,2024.000000,0.0,0.0,1.835742e+08,2.491876e+08,NaN,NaN
max,NaN,2025.000000,0.0,0.0,2.189728e+08,2.587144e+08,inf,inf

NL

,Country,Year,GDP (Million USD),GDP_USD,Exports_USD,Imports_USD,Trade_Openness_pct_GDP,Openness_Lag1
count,5,5.000000,5.0,5.0,5.000000e+00,5.000000e+00,5.0,5.0
unique,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,NL,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,NaN,2023.000000,0.0,0.0,9.244553e+09,3.180681e+10,inf,inf
std,NaN,1.581139,0.0,0.0,2.490100e+09,8.566341e+09,NaN,NaN
min,NaN,2021.000000,0.0,0.0,5.834574e+09,1.680556e+10,inf,inf
25%,NaN,2022.000000,0.0,0.0,8.271511e+09,3.405522e+10,NaN,NaN
50%,NaN,2023.000000,0.0,0.0,9.179204e+09,3.451047e+10,NaN,NaN
75%,NaN,2024.000000,0.0,0.0,1.038954e+10,3.515315e+10,NaN,NaN
max,NaN,2025.000000,0.0,0.0,1.254794e+10,3.850966e+10,inf,inf

PL

,Country,Year,GDP (Million USD),GDP_USD,Exports_USD,Imports_USD,Trade_Openness_pct_GDP,Openness_Lag1
count,5,5.000000,5.0,5.0,5.000000e+00,5.000000e+00,5.0,5.0
unique,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,PL,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,NaN,2023.000000,0.0,0.0,1.387672e+09,1.091147e+10,inf,inf
std,NaN,1.581139,0.0,0.0,3.875676e+08,3.077616e+09,NaN,NaN
min,NaN,2021.000000,0.0,0.0,9.681473e+08,6.125045e+09,inf,inf
25%,NaN,2022.000000,0.0,0.0,9.885471e+08,9.743973e+09,NaN,NaN
50%,NaN,2023.000000,0.0,0.0,1.541990e+09,1.184876e+10,NaN,NaN
75%,NaN,2024.000000,0.0,0.0,1.617247e+09,1.314400e+10,NaN,NaN
max,NaN,2025.000000,0.0,0.0,1.822430e+09,1.369558e+10,inf,inf

PT

,Country,Year,GDP (Million USD),GDP_USD,Exports_USD,Imports_USD,Trade_Openness_pct_GDP,Openness_Lag1
count,5,5.000000,5.0,5.0,5.000000e+00,5.000000e+00,5.0,5.0
unique,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,PT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,NaN,2023.000000,0.0,0.0,1.641909e+08,5.465804e+09,inf,inf
std,NaN,1.581139,0.0,0.0,6.136972e+07,1.564396e+09,NaN,NaN
min,NaN,2021.000000,0.0,0.0,1.036742e+08,2.964115e+09,inf,inf
25%,NaN,2022.000000,0.0,0.0,1.225190e+08,4.941609e+09,NaN,NaN
50%,NaN,2023.000000,0.0,0.0,1.624389e+08,6.145786e+09,NaN,NaN
75%,NaN,2024.000000,0.0,0.0,1.700025e+08,6.493643e+09,NaN,NaN
max,NaN,2025.000000,0.0,0.0,2.623199e+08,6.783865e+09,inf,inf

RO

,Country,Year,GDP (Million USD),GDP_USD,Exports_USD,Imports_USD,Trade_Openness_pct_GDP,Openness_Lag1
count,5,5.000000,5.0,5.0,5.000000e+00,5.000000e+00,5.0,5.0
unique,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,RO,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,NaN,2023.000000,0.0,0.0,1.577720e+08,3.219977e+09,inf,inf
std,NaN,1.581139,0.0,0.0,5.533652e+07,1.043965e+09,NaN,NaN
min,NaN,2021.000000,0.0,0.0,6.834593e+07,1.519592e+09,inf,inf
25%,NaN,2022.000000,0.0,0.0,1.461014e+08,2.909293e+09,NaN,NaN
50%,NaN,2023.000000,0.0,0.0,1.736435e+08,3.773358e+09,NaN,NaN
75%,NaN,2024.000000,0.0,0.0,1.896205e+08,3.910346e+09,NaN,NaN
max,NaN,2025.000000,0.0,0.0,2.111486e+08,3.987296e+09,inf,inf

SE

,Country,Year,GDP (Million USD),GDP_USD,Exports_USD,Imports_USD,Trade_Openness_pct_GDP,Openness_Lag1
count,5,5.000000,5.0,5.0,5.000000e+00,5.000000e+00,5.0,5.0
unique,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,SE,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,NaN,2023.000000,0.0,0.0,6.403129e+08,1.510884e+10,inf,inf
std,NaN,1.581139,0.0,0.0,2.257963e+08,4.580463e+09,NaN,NaN
min,NaN,2021.000000,0.0,0.0,3.435080e+08,7.292101e+09,inf,inf
25%,NaN,2022.000000,0.0,0.0,5.178250e+08,1.482518e+10,NaN,NaN
50%,NaN,2023.000000,0.0,0.0,6.144412e+08,1.707994e+10,NaN,NaN
75%,NaN,2024.000000,0.0,0.0,8.396079e+08,1.798452e+10,NaN,NaN
max,NaN,2025.000000,0.0,0.0,8.861821e+08,1.836244e+10,inf,inf

SI

,Country,Year,GDP (Million USD),GDP_USD,Exports_USD,Imports_USD,Trade_Openness_pct_GDP,Openness_Lag1
count,5,5.000000,5.0,5.0,5.000000e+00,5.000000e+00,5.0,5.0
unique,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,SI,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,NaN,2023.000000,0.0,0.0,3.105136e+07,3.328095e+09,inf,inf
std,NaN,1.581139,0.0,0.0,1.575581e+07,1.898717e+09,NaN,NaN
min,NaN,2021.000000,0.0,0.0,1.405978e+07,1.565182e+09,inf,inf
25%,NaN,2022.000000,0.0,0.0,2.124093e+07,1.884016e+09,NaN,NaN
50%,NaN,2023.000000,0.0,0.0,2.464026e+07,2.994701e+09,NaN,NaN
75%,NaN,2024.000000,0.0,0.0,4.488606e+07,3.904772e+09,NaN,NaN
max,NaN,2025.000000,0.0,0.0,5.042978e+07,6.291804e+09,inf,inf

SK

,Country,Year,GDP (Million USD),GDP_USD,Exports_USD,Imports_USD,Trade_Openness_pct_GDP,Openness_Lag1
count,5,5.000000,5.0,5.0,5.000000e+00,5.000000e+00,5.0,5.0
unique,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,SK,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,NaN,2023.000000,0.0,0.0,4.307075e+07,6.197432e+09,inf,inf
std,NaN,1.581139,0.0,0.0,1.559358e+07,2.254297e+09,NaN,NaN
min,NaN,2021.000000,0.0,0.0,1.923789e+07,3.038355e+09,inf,inf
25%,NaN,2022.000000,0.0,0.0,3.829946e+07,4.878253e+09,NaN,NaN
50%,NaN,2023.000000,0.0,0.0,4.616737e+07,6.561242e+09,NaN,NaN
75%,NaN,2024.000000,0.0,0.0,5.097871e+07,8.181376e+09,NaN,NaN
max,NaN,2025.000000,0.0,0.0,6.067030e+07,8.327932e+09,inf,inf

### **4) DATA PLOTTING**